body {
    width: 480px;
    margin: auto;
    background-color: yellow;
    color: blue;
    text-align: center;
}
.fullBox {
    display: block;
    background-color: green;
    color: yellow;
    border-style: solid;
    border-width: 5px;
    margin: 0;
}
.halfBox {
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    background-color: blue;
    color: orange;
    margin: 0;
    width: 228px;
}
#a {
    height: 75px;
    border-color: pink;
}
#b {
    border-color: orange;
    height: 150px;
}
#c, #d {
    border-color: purple;
    height: 125px;
}
#e, #f, #g, #h {
    height: 250px;
    border-color: cyan;
}
#i {
    height: 75px;
    border-color: brown;
}
@media only screen and (min-width: 800px){
    body {
        background-color: blue;
        width: 960px;

    }
}

